<div class="box">
  <div id="recherche">
    <app-recherche-lieu (locationSelected)="getAddress($event)"></app-recherche-lieu>
  </div>
  <div id="map">
    <div style="text-align:center">
      <h1>
        Bienvenue sur France Bus
      </h1>
    </div>

    <!-- Déclaration du conteneur de la carte avec l'id "busMap" -->
    <div id="busMap" >

    </div>
  </div>
</div>
<app-detail-stop *ngIf="markSelected" stopId={{markSelected}}></app-detail-stop>

  <!--<input type="text" [(ngModel)] ="lat"/>
  <input type="text" [(ngModel)] ="lng"/>-->
  <input type="text" [(ngModel)] ="zoom"/>
  
