<div class="box">
  <div id="recherche">
    <app-recherche-lieu (locationSelected)="getAddress($event)"></app-recherche-lieu>
    <app-detail-stop *ngIf="detailStopService"></app-detail-stop>
  </div>
 
  <div id="map">
    <div style="text-align:center;height: 5px;">
<!--  <h1>
        Bienvenue sur France Bus
      </h1>-->
    </div>
    <app-alert></app-alert>

    <!-- Déclaration du conteneur de la carte avec l'id "busMap" -->
    <div id="busMap" >

    </div>
    <div>
      <app-filtre-reseaux></app-filtre-reseaux>
    </div>
  </div>
</div>


  <input type="hidden" [(ngModel)] ="zoom"/>
<!--<input type="text" [(ngModel)] ="nbReseaux"/>-->

  
  
